---
SpaceAfterCStyleCast: true
ColumnLimit:     200
IndentWidth: 4
UseTab: Never
DerivePointerAlignment: false
PointerAlignment: Left
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: true
  AfterEnum:       true
  AfterFunction:   true
  AfterStruct:     true
  AfterUnion:      true
  AfterExternBlock: true
  BeforeElse:      true
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  AfterCaseLabel: true
Language: Cpp
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: Always
SpacesInParentheses: true
SpacesInSquareBrackets: true
UseTab: Never